<div class="cn-content-triad">
  <section>
    <h4>Documentation</h4>
    <ul>
      <li><a href="/">Intro</a></li>
      <li><a href="/components/app-shell-seo">AppShell SEO</a></li>
      <li><a href="/principles/content-grids">Content Grids</a></li>
    </ul>
  </section>

  <section>
    <h4>Layout Composition</h4>
    <ul>
      <li><a href="/principles/layout-composition/docs-footer">Docs Footer</a></li>
      <li><a href="/components/app-bar">App Bar</a></li>
      <li><a href="/components/tray">Tray</a></li>
    </ul>
  </section>

  <section>
    <h4>Workspace</h4>
    <ul>
      <li><a href="https://github.com/villetakanen/pelilauta-20">Repository</a></li>
      <li><a href="/core/buttons">Core Buttons</a></li>
      <li><a href="/styles/z-index">Z-Index Tokens</a></li>
    </ul>
  </section>
</div>
