---
import AppShell from "@cyan/layouts/AppShell.astro";
---

<AppShell title="Pelilauta">
  <h1>Pelilauta 20</h1>
  <p>RPG community platform.</p>
  <button class="button primary">Get started</button>
</AppShell>
